.jumbotron {
	padding: 0.5em 0.6em !important;
}
canvas {
	display: block;
	position: absolute;
  top: 45%; left: 40%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;

}

.header > h1 {
	font-weight: 300;
}

.header,
#message {
	text-align: center;
}

#message {
	margin-top: -20;
	font-weight: 200;
}
